<h1>Places I've Been</h1>

<ul>
  <% for filling in @fillings %>
    <li>
      <a href="/wireframes/<%= filling %>">
    <li><%= filling %></li>
  <% end %>
</ul>

<p><a href="/wireframes/new">New Post</a></p>